body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFED; /* dusty white */
    color: #222222; /* dark gray */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #222222; /* dark gray */
    color: white;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

nav a i {
    margin-right: 5px;
}

main {
    padding: 160px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.content-section {
    margin-bottom: 40px;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    text-align: left;
    border: 2px solid #5C7604; /* green */
    border-radius: 10px;
    background-color: #FFF;
}

.info-container h2 {
    font-size: 1.5em;
    color: #F15A24; /* orange */
    margin-bottom: 10px;
}

.info-container ul {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0;
}

.info-container ul li {
    margin-bottom: 15px; /* Increased space between list items */
    font-size: 1em;
    position: relative;
    padding-left: 20px; /* Space for custom bullet */
}

.info-container ul li::before {
    content: "•"; /* Custom bullet */
    position: absolute;
    left: 0;
    color: #5C7604; /* green */
    font-size: 1.5em;
}

footer {
    background-color: #222222; /* dark gray */
    color: #E4EE51; /* yellow */
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 40px 20px;
    }

    header h1 {
        font-size: 32px;
    }

    nav a {
        margin: 0 10px;
        font-size: 14px;
    }

    main {
        padding: 140px 15px 15px;
    }

    .content-section {
        padding: 30px;
    }

    .info-container h2 {
        font-size: 1.2em;
    }

    .info-container ul li {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 30px 20px;
    }

    header h1 {
        font-size: 28px;
    }

    nav a {
        margin: 0 8px;
        font-size: 12px;
    }

    main {
        padding: 130px 10px 10px;
    }

    .content-section {
        padding: 20px;
    }

    .info-container h2 {
        font-size: 1em;
    }

    .info-container ul li {
        font-size: 0.8em;
    }
}
